body{
    font-family: "Inria Serif", serif;
}

/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* custom properties */

:root{
    --container-width: 1200px;
    --cta-background-color: #0061FF;
    --section-bg-light-blue: #B4D0E7;
}

/* layout */

.container{
    max-width: var(--container-width);
    margin: auto;
}

.container.full{
    --container-width: 100%;
}

.container.small{
    --container-width: 1000px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    background-color: var(--cta-background-color);
    color: white;
    padding: 10px 16px;
    line-height: 34px;
    text-align: center;
}

/* header */

.navbar{
    font-size: 16px;
    padding: 16px 12px;
}

.navbar .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu{
    display: flex;
    align-items: center;
}

.menu a{
    display: block;
    padding: 0 20px;
    line-height: 34px;
}
.row > *{
    padding: 0 25px;
}

.row.not_gutten > *{
    padding: 0;
}

.navbar .menu .logo{
    padding-left: 0;
    display: flex;
    align-content: center;
}

/* main */

p, span{
    font-size: 16px;
}

h2{
    font-size: 38px;
}

h3{
    font-size: 22px;
}

/* hero */

.hero{
    background-color: var(--section-bg-light-blue);
    padding-top: 80px;
    margin-bottom: 140px;
}

h1{
    font-size: 80px;
}

.title{
    margin-bottom: 70px;
}

.cta-hero{
    padding: 14px 16px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}

.arrow{
    font-size: 42px;
    margin-top: auto;

}

/* plans section */

.plans p, .span{
    font-size: 14px;
}

.plans{
    margin-bottom: 115px;
}

.payment-interval h2{
    margin-bottom: 60px;
}

.payment-interval{
    margin-bottom: 25px;
}

input{
    padding: 0 3px;
}

.payment-interval span:not(:last-child){
    padding-right: 48px;
}

.card{
    border: solid 1px lightgray;
    height: 100%;
}

.target{
    text-align: center;
    border-bottom: solid 1px lightgray;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.price strong::before{
    content: ' \20AC';
}

.price{
    margin-bottom: 16px;
}

.contact-price{
    margin-bottom: 16px;
}

.period::before{
    content: ' \002F';

}

.plans .row{
    row-gap: 50px;
}

.type-plane{
    padding: 35px 24px;
}

.plans h3{
    padding-bottom: 16px;
}

.plans .type-plane{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.li-flex{
    display: flex;
    gap: 5px;
    padding: 12px 0;
}

.style-div{
    max-width: 50px;
    border: 1px solid lightgray;
}

.text-space > *:not(:last-child){
    margin-bottom: 32px;
}

.buy-now{
    text-decoration: underline;
    color: #0061FF;
}

.btn.size{
    display: block;
    width: 100%;
    line-height: 16px;
}

.point-plane{
    padding-bottom: 26px;
}

.enterprice{
    display: flex;
    justify-content: space-between;
}

.enterprice.row > *{
    padding: 0;
}

/* utilities */

.col-33{
    width: calc(100% / 3);
}

.col-40{
    width: 40%;
}

.col60{
    width: 60%;
}

.col-66{
    width: calc((100% / 3) * 2);
}

.col-100{
    width: 100%;
}

.width-66{
    width: calc(2 * (100 / 3));
    display: inline-block;
}

/* debug rules */
.debug [class^="container"]{
    border: black 1px solid;
}

.debug .row{
    border: green 1px solid;
}

.debug [class^="col"]{
    border: red 1px solid;
}