/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* custom properties */

:root{
    --container-width: 1220px;
    --cta-background-color: #0061FF;
}

/* layout */

.container{
    max-width: var(--container-width);
    margin: auto;
}

.container.full{
    --container-width: 100%;
}

.container.small{
    --container-width: 1020px;
    
}

[class*="cta"]{
    background-color: var(--cta-background-color);
    color: white;
}

/* header */

.navbar{
    font-size: 14px;
    padding: 24px 12px;
}

.navbar .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .col{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo{
    display: block;
}

.cta-navbar{
    padding: 10px 10px;
}

